html {
    background-color: darkolivegreen;
}

body {
    font-family: tahoma, sans-serif;
    font-size: 87%;
}

header {
    padding-top: 20 px;
    padding-bottom: 40px;
    color: seagreen;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

/* site navigation */
.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-left: 5px;
}

.site-nav a {
    display: block;
    color: seagreen;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid rgb(235, 213, 213);
    border-bottom: none;
}

.site-nav a:hover {
    background-color: lightgray;
}
/* end site navigation */
.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.content-area {
    border-top: 3px solid rgb(235, 213, 213);
    border-bottom: 3px solid rgb(235, 213, 213);
}

.main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

/* form style */

form {
    background-color: #ececec;
    padding: 30px 40px ;
}

.hide-label {
     position: absolute;
     height: 0;
     width: 0;
     overflow: hidden;
     visibility: hidden;   
}

input,
select {
    font-family: tahoma, sans-serif;
    font-size: 100%; 
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0px 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 1px solid #535e3b;
    background-color: #798a56;
    outline: none;
}

.checkbox-text {
    font-size: 85%;
    color: #777;
}

.sidebar {
    width: 34%;
    float: left;
    background-color: lightgray;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
    border: 1px solid #869960;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #869960;
    color: #fff;
    padding: 10px 0;
    border: 1px solid #798A56;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-size: 85%;
    color: plum;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fix {
    clear: both;
}

 


